@charset 'utf-8';

main > section {
  height: 100vh;
  padding: 150px 100px;
}

/* main > section.section1 {
  background: rgb(69, 42, 42);
} */
main > section.section2 {
  background: #e7e9ff;
}
main > section.section3 {
  background: #fffad2;
}
main > section.section4 {
  background: #edfff2;
}
main > section.section5 {
  background: #ffefe3;
}
main > section.section6 {
  background: #e0f4ff;
}
/* main > section.section4 {
  background: #BEF4C4;
} */
/* .fp-controlArrow {
  background: #000;
} */
.fp-slidesNav {
  /* right: 0 !important; */
  left: 50% !important;

  transform: translateX(-50%) !important;
  display: inline-block;
}

.indicator {
  position: fixed;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: flex-end; /* aife */
  gap: 20px;

  z-index: 10;
}
.indicator li {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #fff;
  border: transparent;
  /* border: 1px solid var(--bd); */
  transition: 0.3s;
  cursor: pointer;
}
.indicator li.show {
  border: 1px solid var(--bd);
}
.indicator li.active {
  /* width: 60px; */
  background-color: var(--main-color-dark);
}
.indicator li a {
  display: block;
  height: 100%;
}
.indicator li b {
  display: none;
}

.section1 figure {
  width: 238px;
  height: 205px;
  position: relative;
  margin: 0 auto;
}
.section1 figure img {
  width: 100%;
  height: 100%;
}

.section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lobster', sans-serif;
  font-size: 7rem;
  white-space: nowrap;
}

.content-wrap {
  display: flex;
  /* background: #f55; */
  justify-content: center;
  /* align-items: center; */
  gap: 26rem;
  margin-top: 6.5rem;
}
.content-wrap article {
  width: 582px;
}
.content-wrap article h3 {
  font-weight: 500;
  font-size: 2.5rem;
}
.content-wrap article p {
  margin-top: 2.5rem;
  font-size: 2rem;
}
/* .content-wrap .index-list {
  font-size: 3.5rem;
}
.content-wrap .index-list li {
  margin-bottom: 3.5rem;
  display: flex;
  align-items: center;
}
.content-wrap .index-list li::before {
  content: '';
  width: 100%;
  height: 20px;
  display: block;
  position: absolute;
  opacity: 0.3;
} */
.content-wrap .index-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 3.5rem;
}

.content-wrap .index-list li {
  position: relative;
  margin-bottom: 3.5rem;
  /* padding: 10px;  */
}

.content-wrap .index-list li a {
  position: relative;
  z-index: 1; /* 가상 요소 위에 위치하도록 설정 */
}

.content-wrap .index-list li a::before {
  content: '';

  width: 100%;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  transform: translateY(-50%);
  z-index: -1; /* 텍스트 뒤로 배치 */
  transition: 0.3s;
}

.content-wrap .index-list li a:hover::before {
  opacity: 0.3; /* hover 시 불투명도 증가 */
  background: var(--skyblue);
}

/* img-box */
/* .content-wrap .index-list li:hover::before {
  background: var(--skyblue);
  transition: 0.3s;
} */
.img-box {
  background: #fff;
  border: 1px solid #000;
  /* width: 360px;
  height: 400px; */
  width: 200px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;

  visibility: hidden;
  pointer-events: none;
  transform-origin: 0 0;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 60px 50px -7px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* img-box e */

/* project */
.section:not(.section1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16.5rem;
}
.section {
  position: relative;
}
.section .num-indicator {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);

  /* display: flex !important; */
  /* flex-direction: column; */
  /* align-items: flex-end; */
  gap: 20px;

  z-index: 10;
}
.section .num-indicator .num-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 1;
}
.section .num-indicator .num-wrap .current-page {
  font-size: 6.5rem;
}
.section .num-indicator .num-wrap .seperator {
  font-size: 5rem;
}
.section .num-indicator .num-wrap .total-page {
  font-size: 3.2rem;
}
.section .num-indicator p {
  font-size: 1.6rem;
}

.slider-wrap {
  position: relative;
}

.section6 {
  position: relative !important;
}
.section6 .main-slider {
  width: 600px;
  height: 600px;
  border-radius: 50%;

  overflow: hidden;
  position: relative;
  /* background: #55f; */
}
.section6 .main-slider .slide {
  /* width: 100%;
  height: 100%; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* position: absolute;
  top: 0;
  left: 0; */
  border-radius: 50%;
  background: no-repeat 0 0 / cover;
  overflow: hidden;
  /* background: yellow; */
  background-image: linear-gradient(to bottom right, #b8f0ff, #80b7ff);
}
.section6 .main-slider .slide .project-img {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.section6 .main-slider .slide .project-img img {
  max-width: 100%;
}

.section6 .bubble {
  position: absolute;
  width: 162px;
  height: 162px;
  /* background: skyblue; */
  background-image: linear-gradient(to bottom right, #b8f0ff, #80b7ff);
  z-index: 10;
  bottom: 0;
  right: 0;
}
.section6 .bubble a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
}
/* ddd */
.modal {
  display: none;
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ddd */

.modal-dim {
  display: none;
  position: absolute; /* 위치 고정 */
  z-index: 20; /* 낮은 z-index */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
/* ddd */
.close {
  color: #aaaaaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* .contact-modal {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#contact-close {
  position: absolute;
  top: 0;
  left: 0;
  background: #f55;
} */

.close {
  color: #aaaaaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* ggg */

.project-img {
  position: relative;
  width: 600px;
  height: 600px;
  border-radius: 50%;
}

.bubble {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
}

.bubble.byeolmaro {
  background-image: linear-gradient(to bottom right, #ebecfa, #3440ca);
}
.bubble.starship {
  background-image: linear-gradient(to bottom right, #ffeb3b, #f78c1f);
}
.bubble.greensweet {
  background-image: linear-gradient(to bottom right, #bef4c4, #00bc13);
}
.bubble.coco {
  background-image: linear-gradient(to bottom right, #f78c1f, #3300ff);
}

.bubble-small {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  background: #86d3e7;
  border-radius: 50%;
  z-index: 10;
}
.section2 .bubble-small {
  background: #98a0ff;
}
.section3 .bubble-small {
  background: #ffeb3b;
}
.section4 .bubble-small {
  background: #bef4c4;
}
.section5 .bubble-small {
  background: #f78c1f;
}

.project-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 870px !important;
}

.section4 .project-img img {
  top: 58%;
  left: 60%;
}
.section5 .project-img img {
  /* top: 75%;
  left: 30%; */
  top: 66px;
  left: -92px;
  transform: scale(0.9);
  max-width: 100%;
}

.project-content {
  width: 500px;
}

.project-description h2 {
  font-size: 6rem;
}
.project-description p {
  margin-top: 3.2rem;
  font-size: 2rem;
}
.project-info {
  margin-top: 54px;
}
.project-info ul {
  display: flex;
  gap: 5.8rem;
}
.btn-wrap {
  margin-top: 6.8rem;
  display: flex;

  gap: 4rem;
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
}
.btn-wrap a {
  display: block;
  font-size: 2.5rem;
  padding: 10px 30px;
  border-radius: 50%;
  text-align: center;
  transition: 0.4s;
}
.btn-wrap a.btn-design {
  background: var(--main-color-dark);
  color: #fff;
}
.btn-wrap a.btn-design:hover {
  background: #000;
}
.btn-wrap a.btn-process {
  background: #fff;
  /* border: 1px solid var(--bd); */
}
.btn-wrap a.btn-process:hover {
  background: #000;
  color: #fff;
}

/* skills */
.skills h1 {
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
}
.skills ul {
  margin-top: 20rem;
  display: flex;
  gap: 10rem;
  justify-content: center;
  align-items: center;
}
.skills ul li {
  width: 19rem;
  height: 19rem;
  background-image: linear-gradient(to bottom right, #b8f0ff, #80b7ff);
  border-radius: 50%;
  position: relative;
}
.skills ul li img {
  /* display: block;
  margin: 0 auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 80%로 놓고 작업.. 단 1920에서 깨지는 느낌 없이
인디케이터- 흰색
kimsoobin lobster, 글자 크게 */
